{% extends "base.html" %}

{% block content %}
  <header><a href="/">Munchy Lunchy</a></header>
  <div class="p1 s1" id="buttons">
    <div class="g5 gfirst">
      <a class="button orange" href="{{ url('single.home') }}">
        <span>Just Me</span>
        <small>Find a table for one</small>
      </a>
    </div>
    <div class="g5 glast">
      <a class="button red" href="{{ url('group.home') }}">
        <span>Invite Friends Along</span>
        <small>Make room for the group</small>
      </a>
    </div>
    <div class="clear"></div>

    <div id="arrows">
      <div id="getstarted" class="round">
        Get started!
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <section id="content">
    <p>Every day, millions of people ask the question, "Where should we go for lunch?" Munchy Lunchy knows the answer.</p>
    <p>Choose whether you're by yourself or with a group, and we'll take the hard work out of coordinating a last-minute lunch run.</p>
  </section>
{% endblock %}
