{% extends "base.html" %}

{% block site_js %}
  {{ js('common') }}
  {{ js('group') }}
{% endblock %}

{% block content %}
<header><a href="/">Munchy Lunchy</a></header>
<section id="dashboard">
<div class="g5 gfirst p2" id="group_choices" data-foodurl="{{ url('group.async_list', groupid) }}">
    {{ csrf() }}
    <h1>We're Thinking...</h1>
    <div id="group_choice_wrap">
      {% for choice in choices %}
        <p>
          <small>({{ choice[1] }} points)</small>
          <span class="round">{{ choice[0] }}</span>
        </p>
      {% endfor %}
    </div>
  </div>
  <div class="g3 glast s2" id="members_col">
    <a style="display: none;" class="button blue round">Invite Your Friends</a>
    <p>Already Invited:</p>
    <ul id="memberlist">
      {% for member in members %}
        <li>{{ member }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="clear"></div>
  <section id="share">
    <span>Share This Group:</span> <input type="text" value="http://munchylunchy.com/group/dashboard/{{ groupid }}" />
  </section>
  <div class="clear"></div>
  <div id="mapcanvas_group" data-lat="{{ latitude }}" data-lon="{{ longitude }}"></div>
  <section id="whatamilookingat">
    <h2>What am I looking at?</h2>
    <p>When you share the link to this page, anyone that signs in will automatically be signed up for lunch. As your friends sign in, the list of suggested venues will automatically re-sort.</p>
  </section>
</section>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}
