<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Munchy Lunchy - Figure out what to eat for lunch</title>
<link href="http://framecdn.serverboy.net/latest.css" rel="stylesheet" type="text/css">
{% block site_css %}
  {{ css('common') }}
{% endblock %}
{% block site_js %}
{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-91087-29']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body class="sans-serif med">
  <div id="container">
    {% if request.user.is_authenticated() %}
      <a id="logout" href="{{ url('browserid.logout') }}">Log Out</a>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>

