{% extends "base.html" %}

{% block site_js %}
  {{ js('common') }}
  {{ js('single') }}
{% endblock %}

{% block content %}
<header><a href="/">Munchy Lunchy</a></header>
  <div class="p1 s1" id="login_bang">
    <h1>You obviously should eat at...</h1>
    <h2>{{ decision }}</h2>
    <div class="clear"></div>
  </div>
  <div id="mapcanvas" data-lat="{{ latitude }}" data-long="{{ longitude }}"></div>
  <section id="place_explanation">
    <h2>Here's why:</h2>
    <ul>
      {% for reason in reasons %}
        <li>{{ reason }}</li>
      {% endfor %}
    </ul>
  </section>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}
