{% extends "base.html" %}
{% block site_js %}
  {{ js('common') }}
  {{ js('single') }}
{% endblock %}
{% block content %}
<header><a href="{{ url('home.home') }}">Munchy Lunchy</a></header>
  <div class="p1 s1" id="no_bang">
    <h2>Tell us what you like!</h2>
    <div class="clear"></div>
    <section id="questions" data-url="{{ url('single.get_questions') }}" data-likeurl="{{ url('single.set_likes') }}">
      {{ csrf() }}
      <h3>Answer <span id="questions_left"></span> more questions</h3>
    </section>
    <div class="clear"></div>
    <section id="bottom_buttons">
      <div class="button_wrap">
        <a href="{{ url('single.decide') }}" class="button round blue continue">Take me to the food!</a>
      </div>
      <div class="button_wrap">
        <a class="button round grey more">answer more questions</a>
      </div>
    </section>
  </div>
{% endblock %}
